@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Merriweather&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Merriweather&display=swap");

body {
  margin: 0;
}

.background {
  background: url(../img/header-bg.png) no-repeat;
  width: 1440px;
  height: 910px;
}

.header {
  width: 1440px;
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 50px;
  width: 50px;
  margin-left: 20px;

}

.logo:hover {
  color: #BDAE82;
}

.skills,
.portfo,
.video,
.price,
.contacts {
  color: #ffffff;
  font-size: 20px;
  line-height: 50px;
  font-weight: 400;
}

.nav_links {
  list-style-type: none;
  display: flex;
  justify-content: center;
  height: 50px;
  width: 500px;
  margin-left: auto;
  font-family: "inter";
  margin-right: 10px;
}

.switch {
  font-weight: 700;
  width: 70px;
  height: 50px;
  font-size: 20px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-right: 20px;
  font-family: "inter";
}

.en {
  margin-right: 9px;
  color: #bdae82;
}

.ru {
  margin-left: 8px;
}

.hero {
  width: 500px;
  height: 330px;
  margin-left: 80px;
  margin-top: 160px;
}

.hero_title,
.hero_text {
  color: #ffffff;
}

.hero_title {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 120px;
}

.hero_text,
.but_1 {
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  font-family: "inter";
}

.hero_text {
  margin-top: 10px;
}

.but_1 {
  width: 220px;
  height: 55px;
  background-color: #bdae82;
  margin-top: 25px;
}


a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #ffffff;
}

main {
  background-color: black;
  width: 1440px;
}

.hover {
  position: absolute;
}

.vid {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.link_1 {
  position: absolute;
}

.skills {
  height: 480px;
}

.text_line {
  height: 2px;
  width: 274px;
  background-color: #bdae82;
}

.skillsTitle {
  margin: 20px;
  color: #bdae82;
  font-size: 47px;
}

.sectionTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  position: relative;
  top: 100px;
}

.skillsItems {
  display: flex;
  justify-content: center;
  margin-top: 140px;
}

.skillsItem {
  width: 320px;
  height: 240px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.skillsItemsTitle {
  font-size: 23px;
  margin: 55px 0 0px;
}

.skillsItemsText {
  font-size: 22px;
  line-height: 35px;
}

.skillsImg {
  height: 50px;
}

.portfolio {
  background-color: black;
  height: 1500px;
}

.titleWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 115px;
}

.portfolioTitle {
  color: #bdae82;
  margin: 0 20px;
  font-size: 47px;
}

.portfolioTitleLine {
  width: 240px;
  height: 2px;
  background-color: #bdae82;
}

.portfoliobtns {
  margin-top: 72px;
  width: 1440px;
  height: 55px;
  display: flex;
  justify-content: center;
}

.btnWrapper {
  width: 216px;
  height: 51px;
  color: #bdae82;
  border: 3px solid #bdae82;
  margin: 0 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  font-size: 24px;
  color: #bdae82;
  text-decoration: none;
}

.btnActiv {
  background-color: #bdae82;
  color: black;
}

.portfolioImgWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 47.5px;
}

.portfolioImg {
  width: 450px;
  height: 560px;
  margin: 12.5px;
}

.video {
  height: 945px;
}

.videoTitleWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.videoTitle {
  color: #bdae82;
  font-size: 47px;
  margin: 0 20px;
}

.videoPlayer {
  margin: 72px 20px;
}

.price {
  height: 845px;
}

.priceTitleWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 60px;
}

.priceTitle {
  color: #bdae82;
  font-size: 47px;
  margin: 0 20px;

}

.priceTitleLine {
  width: 279px;
  height: 2px;
  background-color: #bdae82;
}

.priceItemPrice {
  font-family: "Merriweather";
  font-size: 24px;
  line-height: 48px;
  color: #BDAE82;
  font-style: bold;
}

.priceItem {
  border: solid 2px #BDAE82;
  width: 450px;
  height: 505px;
  text-align: center;
}
.priceItemWrapper{
  display: flex;
}

.priceItemTitle {
  font-family: Merriweather;
  font-style: bold;
  font-weight: 700;
  font-size: 28px;
  line-height: 56px;
  margin: 43px;

}

.ItemFrameWrapper {
  font-family: Inter;
  font-weight: 400;
  font-size: 18px;
  line-height: 36px;
  margin-bottom: 40px;
}

.order {
  width: 220px;
  height: 55px;
  background-color: #BDAE82;
  color: black;
  font-family: Inter;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
}
.ItemFrame{
  display: block;
}